* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: ZenDots;
    src: url(../fonts/ZenDots-Regular.ttf);
}

html {
    height: 100%;
}

body {
    height: 100%;
}

nav {
    min-height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_logo {
    margin: 20px;
    font-size: 30px;
    font-family: ZenDots;

}

nav ul {
    display: flex;
}

nav ul li {
    height: 100%;
    padding: 30px;
    list-style-type: none;
    border-bottom: 4px solid gray;
}

nav ul li:hover{
    border-bottom: 4px solid blue;
}

nav ul li a {
    text-decoration: none;
    font-size: 22px;
    font-family: ZenDots;
}

.toggle-button {
    position: absolute;
    top: 25px;
    right: 25px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 23px;
}

.toggle-button .bar {
    height: 4px;
    width: 100%;
    background-color: blue;
    border-radius: 100px;
}

@media(max-width:750px){
    .list-container{
        display: none;
        width: 100%;
    }
    .toggle-button {
        display: flex;
    }
}

